* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.product-item .image img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
